:root {
  /*border-radius*/
  --border-radius: 24px;
  --small-border-radius: 16px;
  /*gap*/
  --small-gap: 8px;
  --medium-gap: 16px;
  --big-gap: 24px;
  /*height*/
  --big-button-height: 80px;
  --button-height: 54px;
  --input-heigth: 54px;
  /*padding*/
  --small-padding: 8px;
  --medium-padding: 16px;
  --big-padding: 24px;
  --large-padding: 32px;
  /*font-size*/
  --small-font-size: 16px;
  --common-font-size: 20px;
  --big-font-size: 24px;

  --h1-font-size: 56px;
  --h2-font-size: 40px;
  --h3-font-size: 32px;
  --h4-font-size: 24px;
  --h5-font-size: 20px;
  --h6-font-size: 16px;


  /*text-color*/
  --button-filled-text-color: #FFFFFF;
  --dark-text-color: #000000;
  --grey-text-color: #525C60;
  /*border-color*/
  --primary-border-color: #ED9B40;
  --secondary-border-color: #17BEBB;
  /*background-color*/
  --main-background-color: #FFFFFF;
  --social-button-background: #E7F2F5;
  --button-primary-background: #ED9B40;
  --button-secondary-background: #17BEBB;
}
